header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin-bottom: 5rem;
  padding: 1rem;
}

.headerWriting {

  font-weight: 500;
}

.imgLogo {
  height: 50px;


}

.searchBar {
  border: solid 2px grey;
  border-radius: 20px;
  display: flex;
  padding: 5px;
}

input {
  border: none
}


.searchBar>img {
  height: 30px;
}