body {

  margin-left: 1rem;
  margin-right: 1rem;
}


header {
  display: flex;
  justify-content: space-between;
  
  align-items: center ;
  margin-bottom: 5rem;
  padding: 1rem;
}

.headerWriting {

  font-weight: 500;
}

.imgLogo{
  height: 50px;
  

}

.searchBar {
  border: solid 2px grey;
  border-radius: 20px;
  display: flex;
  padding: 5px;
}

input{
  border:none
}


.searchBar > img {
  height: 30px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  
  padding: 10px;
  gap: 10px;
}

.card {
  
  display: flex;
  flex-direction: column;
  position: relative;
  
 
  
  
}

.card i {
  border:2px solid pink;
  position: absolute;
  right:10px;
  top:10px

}

.card img {
  height: 300px;
  width: 300px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  object-fit: cover;
  border: 1px solid lightgray;
}


.card div {
  background-color: blanchedalmond;
  text-align: center;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

